<div class="navbar">
  <div class="navbar__bars" *ngIf="isAuthorized">
    <mat-icon *ngIf="showBackButton" (click)="back()">arrow_back</mat-icon>
    <mat-icon *ngIf="showMenuButton" (click)="toggleMenu()">menu</mat-icon>
  </div>
  <div class="navbar__icons" *ngIf="isAuthorized">
    <a routerLink="/notifications">
      <mat-icon>notifications</mat-icon>
      <i class="notifications-counter" *ngIf="notificationsLength">
        {{notificationsLength}}
      </i>
    </a>
    <a routerLink="/contacts">
      <mat-icon>person_add</mat-icon>
    </a>
  </div>
  <div class="navbar__logo" [ngClass]="{'padded': isAuthorized}">
    meetmap
  </div>
</div>

<div class="sidemenu" [ngClass]="{'is-active': menuVisible}" (click)="menuVisible = false">
  <header *ngIf="menuVisible">
    {{userName}}
    <mat-icon (click)="logout()">exit_to_app</mat-icon>
  </header>
  <mat-list>
    <mat-list-item routerLink="/map">My Map</mat-list-item>
    <mat-list-item routerLink="/contacts">Contacts </mat-list-item>
    <mat-list-item routerLink="/notifications">Notifications</mat-list-item>
  </mat-list>
</div>
<div class="layer" [ngClass]="{'is-active': menuVisible}" (click)="menuVisible = false"></div>