
@import "~src/scss/variables";

.navbar {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $primary;

    &:after {
        display: table;
        content: '';
        clear: both;
    }
}

.navbar__bars {
    float: left;
    text-align: left;
    color: white;
    font-size: 20px;
    padding: 12px 20px;

    .mat-icon {
        cursor: pointer;
    }
}

.navbar__logo {
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    padding: 12px 0;

    a {
        color: white !important;
        text-decoration: none;
    }
}

.navbar__userplus {
    float: right;
    padding: 12px 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;

    a {
        color: white !important;
    }
}

