<div class="navbar">
  <div class="navbar__bars" *ngIf="isAuthorized">
    <mat-icon *ngIf="!needBackButton" (click)="back()">arrow_back</mat-icon>
    <!-- <mat-icon>m,enu</mat-icon> -->
  </div>
  <div class="navbar__icons" *ngIf="isAuthorized">
    <a routerLink="/notifications">
      <mat-icon>notifications</mat-icon>
      <i class="notifications-counter" *ngIf="notificationsLength">
        {{notificationsLength}}
      </i>
    </a>
    <a routerLink="/contacts">
      <mat-icon>person_add</mat-icon>
    </a>
  </div>
  <div class="navbar__logo" [ngClass]="{'padded': isAuthorized}">
    meetmap
  </div>
</div>