<div class="main" *ngIf="room">
  <div class="map-container">
    <div class="map" #map>

    </div>
    <div class="marker" *ngFor="let friend of getFrends()" [ngStyle]="{transform: getMarkerRotation(friend)}">
      {{ getLiteral(friend) }}
    </div>
  </div>

  <div class="legend">
    <h3>Meetmapers:</h3>
    <ul>
      <li>
        {{userName}} (you)
      </li>
      <li *ngFor="let friend of getFrends()">
        {{ friend }}, distance: {{ getDistance(friend) }} m.
      </li>
    </ul>
  </div>

  <div class="chat-icon" (click)="goToChat()">
    <mat-icon>chat_bubble_outline</mat-icon>
  </div>
</div>