@import "~src/scss/variables";

.map-container {
    background-color: #e7eff6;
    position: relative;
    z-index: 2;
    padding: 5%;
}

.map {
    margin: 0 auto;
    width: 90vw;
    height: 90vw;
    border-radius: 50%;
    border: 1px solid black;
}

.chat-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5%;
    box-sizing: border-box;

    .mat-icon {
        width: 40px;
        cursor: pointer;
        font-size: 40px;
    }
}