@import "~src/scss/variables";

.map-container {
    background-color: #e7eff6;
    position: relative;
    padding: 5%;
}

.map {
    margin: 0 auto;
    width: 90vw;
    height: 90vw;
}

// circle
.map:after{
    content:'';
    position: absolute;
    left: 50%; 
    top: 50%;
    border-radius: 100%;
    width:90vw;
    height:90vw;
    margin-left: -45vw;
    margin-top: -45vw;
    box-shadow: 0px 0px 0px 2000px #e7eff6;;
}

.chat-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5%;
    box-sizing: border-box;

    .mat-icon {
        width: 40px;
        cursor: pointer;
        font-size: 40px;
    }
}

.legend {
    padding: 0 5%;

    font-size: 16px;

    position: relative;
    z-index: 3;

    h3 {
        margin: 0;
        margin-bottom: 10px;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        display: block;
        margin-bottom: 5px;
    }
}

.marker {
    text-align: center;
    display: block;
    width: 30px;
    background: $accent;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    line-height: 30px;
}

.marker-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}