@import "~src/scss/variables";

.map-container {
    background-color: #e7eff6;
    position: relative;
    padding: 5%;
}

.map {
    margin: 0 auto;
    width: 90vw;
    height: 90vw;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
}

.chat-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5%;
    box-sizing: border-box;

    .mat-icon {
        width: 40px;
        cursor: pointer;
        font-size: 40px;
    }
}

.legend {
    padding: 0 5%;

    font-size: 16px;

    h3 {
        margin: 0;
        margin-bottom: 10px;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        display: block;
        margin-bottom: 5px;
    }
}

.marker {
    text-align: center;
    display: block;
    width: 30px;
    background: $accent;
    // color: white;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -15px;
    line-height: 30px;
}