<div class="map-container">
  <div class="map">
      
  </div>
</div>

<div class="msg">
  <div class="msg-container">
      <div *ngFor="let message of messages" [ngClass]="{ 'msg0': message.sender !== userName, 'msg1': message.sender === userName }">
        <span class="msg-name">{{message.sender}}: </span>
        {{message.text}}
      </div>
  </div>
</div>

<form class="chat" [formGroup]="form" (submit)="onSubmit()">

  <mat-form-field floatLabel="never">
    <input matInput placeholder="Message..." autocomplete="off" formControlName="message">
    <mat-icon matSuffix (click)="onSubmit()">comment</mat-icon>
  </mat-form-field>

</form>
