@import "../scss/variables.scss";

.chat {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;

    .mat-form-field {
        width: 100%;
    }

}

.input-field {
    width: 90%;
}

.fa.fa-comment {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.3);
}

.chat-submit {
    background: none !important;
    border: none;
}

.msg-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.msg0 {
    min-height: 20px;
    background: lighten($primary, 20%);
    width: 100%;
    border-radius: 10px 10px 10px 0;
    margin: 3px 0;
    color:white;
}

.msg1 {
    min-height: 20px;
    background: ligten($primary, 50%);
    width: 100%;
    border-radius: 10px 10px 0 10px;
    margin: 3px 0;
}

.msg-name {
    margin-left: 5px;
}

.msg {
    width: 100%;
    display: flex;
    justify-content: center;
}

.map-container {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    margin-top: 70px;
}

.map {

    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url('../assets/1.png');
 
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $primary;
}

.navbar__bars {
    float: left;
    text-align: left;
    color: white;
    font-size: 20px;
    padding: 0 20px;

    .mat-icon {
        cursor: pointer;
    }
}

.navbar__logo {
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.navbar__userplus {
    float: right;
    padding: 0 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

