<div class="navbar">
  <div class="navbar__bars">
      <i class="fa fa-bars"></i>
  </div>
  <div class="navbar__logo">
     <p class="navbar__logo-text">
         meeetmap
     </p>
  </div>

  <div class="navbar__userplus">
          <i class="fa fa-user-plus"></i>
  </div>
</div>

<div class="map-container">
  <div class="map">
      
  </div>
</div>
<div class="msg">


  <div class="msg-container">
      <div class="msg0"> <span class="msg-name">Mike:</span> Ты где?</div>
      <div class="msg1"> <span class="msg-name">John:</span> Ща буду</div>
  </div>

</div>
<form action="" class="chat">



  <div class="input-field">
          <input id="last_name" type="text" class="validate" placeholder="Message">
          
  </div>

  <button class="chat-submit"><i class="fa fa-comment"></i></button>

</form>
