/* You can add global styles to this file, and also import other style files */

@import "./scss/theme.scss";

body {
    background-color: #e7eff6;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.main {
    padding-top: 50px;
}

.main__header {
    padding: 0 15px;
    margin-top: 30px;
    margin-bottom: 10px;

    h3 {
        margin: 0;
    }
}

// override

.mat-snack-bar-container.error-message {
	background: $warn;
}